* {
  /* border: solid black; */
  box-sizing: border-box;
  font-family: 'Noto Sans Mongolian', sans-serif;
}
h1, h2, h3, h4, h5 {
  margin: 0;
}

body, html {
  margin: 0;
  height: 100%;
  background: radial-gradient(circle at 10% 20%, rgb(253, 239, 132) 0%, rgb(247, 198, 169) 54.2%, rgb(21, 186, 196) 100.3%);
}
h2 {
  font-size: 5rem;
}

.mainContainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
  .todayWeather {
    display: grid;
    padding: 5%;
    grid-template-rows: 0.5fr, repeat(5, 1fr);
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
    .currentTemp {
      grid-row: 1 / 4;
      grid-column: 2 / 3;
    }
  
  .futureWeather {
    display: flex;
    flex-direction: column;
  }
    .futureWeatherContent {
      display: flex;
      overflow: scroll;
    }
